<launch>
        <!-- <arg name="fcu_url" default="/dev/ttyTHS2:115200" />
        <include file="$(find mavros)/launch/apm.launch">
                <arg name="fcu_url" value="$(arg fcu_url)" />
        </include> -->

        <node ns="ins" name="ins_node" pkg="inertial_sense" type="inertial_sense_node">
          <param name="port" type="string" value="/dev/inertial_sense" />
          <param name="dynamic_model" type="int" value="8"/>
        </node>

        <node name="fcu_io_node" pkg="rosflight" type="rosflight_io">
            <param name="port" type="string" value="/dev/naze"/>
        </node>

        <node name="ros_plane_estimator" pkg="ros_plane" type="ros_plane_estimator" >
          <remap from="/gps/data" to="/ins/gps"/>
        </node>

        <node name="rosserial" pkg="rosserial_python" type="serial_node.py"/>
        <node name="gimbal" pkg="gimbal" type="gimbal_geopointer.py"/>

        <node name="pointgrey_camera" pkg="pointgrey_camera_driver" type="camera_node"/>

        <node name="Target_Position_Publisher" pkg="handoff" type="target_pos_pub.py" />



</launch>
